@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #a3959a;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-image: url(img/bg.png);
    font-family: "Poppins, sans-serif";
    color: var(--bg-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

 .header {
    width: 100%;
    background-color: rgba(100, 148, 237, 0.185);
 }

.logo {
    font-size: 4rem !important;
    color: cornflowerblue !important;
    font-weight: 800 !important;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}
.navbar-nav .nav-link {
    padding: 0 30px !important;
    font-size: 20px !important;
}


@media (max-width: 995px) {
    .navbar {
        text-align: right;
    }
    .navbar-nav{
        margin: 0 0 0 70% !important;
        padding: 20px !important;
        font-weight: bold;
    }
    .navbar-nav .nav-link {
        display: block;
        font-size: 15px !important;
        margin: 0.5rem 0;
        transition: color 0.3s ease;
    }

    .navbar-nav .nav-link:hover {
        color: #c8c8c8; 
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 0 !important;
    gap: 8rem !important;
    background-image: url(img/bg.png) !important;
}

.home .home-content h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.3;
}

span {
    color: rgb(156, 187, 244);
}

.home-content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.home-img {
    border-radius: 35%;
}

.home-img img {
    margin-bottom: 10px;
    position: relative !important;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    transform: scale(1.01);
    filter: dropshadow(0 0 25px var(--main-color));
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: #7a6e73;
    margin: 4rem 1.5rem 4rem 0;
    transition: 0.3s ease;
}

.social-icon a:hover {
    color: #000000;
    transform: scale(1.3) translateY(-5px);
    background: transparent;
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block !important;
    padding: 1rem 2.8rem !important;
    background: cornflowerblue !important;
    border-radius: 4rem !important;
    font-size: 1.6rem !important;
    color: #fcfcfc !important;
    border: 2px solid var(--main-color) !important;
    letter-spacing: 0.1rem !important;
    font-weight: 600 !important;
    transition: 0.3s ease !important;
    cursor: pointer !important;
    margin: 0 1px !important;
    display: block !important;
    text-align: center !important;
}

.btn:hover {
    transform: scale(1.03);
    background-color: cornflowerblue;
    color: #fff;
    box-shadow: 0 0 25px var(--main-color);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: 'Software Developer';
    color: #484647;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: '';
    background: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(108, 108, 108);
    right: -8;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid rgb(108, 108, 108);
    }
}

@keyframes words {
    0%, 20% {
        content: "Front End Developer";
    }
    21%, 40% {
        content: "Software Enginer";
    }
    41%, 60% {
        content: "Web Designer";
    }
    61%, 80% {
        content: "Cute Women";
    }
    81%, 100% {
        content: "Vice Leader";
    }
}

@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content p {
        text-align: justify;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

/* Services Section */
.services {
    background: cornflowerblue;
}

.services#services .heading {
    color: #fefefe;
}

.heading {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 7px;
    font-size: 3rem;
    font-weight: 600;
    font-style: inherit;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    margin-top: 5%;
    background-image: url(img/bg.png);
    height: 280px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.service-box:hover {
    background: transparent;
    color: #faf8f9;
    transform: scale(1.03);
    border: 1px solid rgb(244, 240, 242);
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
}

.service-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.service-info p {
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
}

@media (max-width: 991px) {
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
    .service-info h4{
        font-size: 2rem;
    }
    .service-info p {
        text-align: justify;
        font-size: small;
    }
}

@media (max-width: 895px) {
    .services h2 {
        margin-bottom: 3rem;
    }
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Skills section */
.skills {
    background-image: url(img/bg.png);
}

.skills#skills .heading {
    color: cornflowerblue;
}

.skills .container {
    background: cornflowerblue;
    color: cornflowerblue;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}

.skills .container .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 2.8rem;
}

.skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background-image: url(img/bg.png);
    box-shadow: 0 4px 10px var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.skills .container .bar:hover {
    box-shadow: 0 4px 10px var(--text-color);
    transform: scale(1.03);
}

.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .container .bar .info span {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

@media screen and (max-width: 600px) {
    .skills .container {
        margin: 0;
        padding: 0;
    }
    .skills .container .row {
        grid-template-columns: 1fr;
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }
    .skills .container {
        margin-top: 5px;
        width: 100%;
    }
}
